.site__inner {
    padding: 16px;

}

.site__title {
    width: 100%;
    font-size: 5vw;
    font-weight: 900;
    text-transform: uppercase;
    font-family: var(--mainEng-font);
    line-height: 1;
    border-bottom: 6px solid #000;
    position: sticky;
    top: 70px;
    left: 0;
}


.site__title em {
    font-family: var(--mainKor-font);
    font-size: 1.5rem;
    font-weight: 700;
}

.site__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.site__wrap .site__item {
    width: 100%;
    background: #0000008a;
    border-radius: 20px;
    margin-top: 1rem;
    padding: 4rem;
    color: var(--black);
    text-align: center;
    position: sticky;
    left: 0;
}

.site__item.s1 {
    top: 180px;
    background: #87c0e1;
}

.site__item.s2 {
    top: 200px;
    background: #aae3ef;
}

.site__item.s3 {
    top: 220px;
    background: #bcf9e6;
}

.site__item.s4 {
    top: 240px;
    background: #ecffd2;
}

.site__wrap .site__item .title {
    font-size: 1.8rem;
    font-weight: 700;
    position: sticky;
    left: 0;
    top: 0;
}

.site__wrap .site__item .btn {
    margin: 1.5rem 0 2.5rem;
}

.site__wrap .site__item .info {
    line-height: 1.5;
}

.site__wrap .site__item .info span {
    display: block;
}

.site__wrap .site__item .btn a {
    display: inline-block;
    padding: 0.7rem 2.5rem;
    border-radius: 50px;
    border: 1px solid #000;
    margin: 0 0.3rem;
    font-weight: 600;
}

.site__item span.num {
    font-size: 4.5vw;
    font-weight: bold;
    color: var(--black);
    text-align: left;
    display: inline-block;
    position: absolute;
    left: 4rem;
    top: 3rem;
}

.site__item .text {
    margin-bottom: 3rem;
}

.site__item .text div {
    font-weight: 600;
    font-size: 3.5vw;
    line-height: 1.5;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Russo One', sans-serif;
}

@media (max-width:800px) {

    .site__title {
        width: 100%;
        margin-bottom: 10vw;
        background-color: var(--mainBg-color);
        font-size: 9vw;
        top: 70px;
        padding: 0.5rem 0;
    }

    .site__item .text div {
        font-size: 6vw;
    }
}